<div class="container mx-auto p-4 w-[50%]">
  <!-- Post Details -->
  @if (post) {
    <div class="mb-6 p-4 border rounded shadow">
      <h3 class="text-lg font-bold mb-2">{{ post.title }}</h3>
      <p class="text-sm text-gray-600 mb-2">
        By {{ post.author }} on {{ post.createdDate | date: 'MMM d, yyyy, h:mm a' }}
      </p>
      <p>{{ post.content }}</p>
    </div>
  }

  <!-- Comments Section -->
  <div>
    <h4 class="text-lg font-semibold mb-4">Comments</h4>
    <ul class="space-y-4">
      @for (comment of comments; track comment.id) {
        <li class="p-4 border rounded shadow">
          <div class="top-2 right-2 text-xs text-gray-500 font-bold">
            ID: {{ comment.id }}
          </div>
          <p class="text-sm text-gray-600 mb-1">
            By {{ comment.author }} on {{ comment.createdDate | date: 'MMM d, yyyy, h:mm a' }}
          </p>
          @if (!isEditingComment(comment.id)) {
            <p>{{ comment.content }}</p>
          } @else {
            <textarea
              [(ngModel)]="editableCommentContent"
              class="w-full p-2 border rounded"
            ></textarea>
          }

          <!-- Actions -->
          <div class="flex justify-between items-center mt-2">
            @if (!isEditingComment(comment.id) && canDeleteOrEditComment(comment)) {
              <button
                (click)="startEditingComment(comment)"
                class="text-blue-500 hover:underline"
              >
                Edit
              </button>
            }
            @if (isEditingComment(comment.id)) {
              <button
                (click)="updateComment(comment.id)"
                class="text-green-500 hover:underline"
              >
                Save
              </button>
            }
            @if (canDeleteOrEditComment(comment)) {
              <button
                (click)="deleteComment(comment.id)"
                class="text-red-500 hover:underline"
              >
                Delete
              </button>
            }
          </div>
        </li>
      }@empty {
        <li class="text-center text-gray-500 col-span-full">
          There are no comments available.
        </li>
      }
    </ul>

    <!-- Add Comment -->
    <div class="mt-6">
      <textarea
        [(ngModel)]="newComment.content"
        placeholder="Add a comment..."
        class="w-full p-2 border rounded"
      ></textarea>
      <button
        (click)="addComment()"
        class="mt-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        Submit
      </button>
    </div>
  </div>
</div>
